[submodule "include"]
	path = include
	url = https://github.com/visualcamp/Tensorflow-Lite-Headers
[submodule "cutemodel"]
	path = cutemodel
	url = https://github.com/visualcamp/Tensorflow-Lite
	branch = cutemodel
